@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: white;
}

.container1{
    
    background-color: #00b34213;
}

.container3{
    background-color: #00b34213;
    height: max-content;
    margin-top: 80px;
    position: relative;
    bottom: 0;
}

.container-mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.busca{
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 4px;
    border: 1px solid #7bc62d;
    margin-right: 20px;
    box-shadow: 1px 1px 2px #333333;
    height: 30px;
    height: 42px;
}

.img{
    margin-left: 20px;
}

svg{
    position: relative;
    right: 20px;
    top: 6px;
}

input{
    padding: 5px;
    border: 0;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #00b34262;
}

.container2{
    margin-top: 100px;
    margin-bottom: 20px;
}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 2*/
    margin-left: 18px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
}

.card h1{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}


.card img{
    transition: 2.1;
}

.card img:hover{
    transition: 0.7s;
    transform: scale(2);
}

.botao{
    margin-bottom: 10px;
}


.container-mae-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.rede-sociais{
    display: flex;
    align-items: center;
}

i{
    color: #7bc62d;
    font-size: 20px;
}

.bola{
    border: 2px solid #FFAFBD;
    margin-left: 10px;
    border-radius: 700px;
    width: 50px;

    
}

.bola svg{
    margin-left: 26px;
    margin-bottom: 7px;
}


.bola:hover{
    background-color: #ffafbcab;
}

.linha{
    margin-top: 20px;
    width: 700px;
    height: 2px;
    background-color: #ffafbcab;
}

.endereco{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.664);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.verifica{
    margin-top: 20px;
    color:#FFAFBD ;
}





@media (max-width: 700px) {
    .busca{
        padding-right: 5px;
        padding-left: 8px;
        padding-top: 4px;
        border: 1px solid #7bc62d;
        margin-right: 20px;
        box-shadow: 1px 1px 2px #333333;
        height: 30px;
        height: 42px;
    }

    svg{
        position: relative;
        right: 5px;
        top: 6px;
    }

    .linha{
        width: 100px;
    }

    .endereco{
        width: 300px;
        text-align: center;
    }

    .container3{
        height: max-content;
    }

    .bola svg{
        margin-left: 12px;
        margin-bottom: 7px;
    }
}
