@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container1{
    
    background-color: #00b34213;
}

.container-mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.busca{
    padding: 2px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 4px;
    border: 1px solid #7bc62d;
    margin-right: 20px;
    box-shadow: 1px 1px 2px #333333;
    height: 30px;
}

.img{
    margin-left: 20px;
}

svg{
    position: fixed;
    right: 198px;
}

input{
    padding: 2px;
    border: 0;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #00b34262;
}

.container2{
    margin-top: 100px;
}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: #00b341;
    margin-left: 18px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
}

.card h1{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}


.card img{
    transition: 2.1;
}

.card img:hover{
    transition: 0.7s;
    transform: scale(2);
}

.botao{
    margin-bottom: 10px;
}


.mercadopago-button{
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




